{% extends 'base.html.twig' %}

{% block title %}Hello BarController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <img src="{{ asset('build/images/beer_00.jpg') }}" width="400px" height="400px"/>
    {% for beer in beers %}
        <ul>
            <li>{{ beer.name }}</li>
            <li>{{ beer.publishedAt|date("d/m/Y") }}</li>
                {# {{ dump(beer.country) }} #}
        </ul>
    {% endfor %}
</div>
{% endblock %}
